body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 600px;
  background: #fff;
  margin: 12px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin: 12px auto;
  padding: 10px;
}

.button-container {
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}
